:root{
    

}

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color:#ffffff;

}
/* nav section*/
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav ul{
    list-style-type: none;

}

nav a[href="#view-high-scores"] {
    color: #b54ae5;
    text-decoration: none;
 }
 
 
 #timer {
    color: black;
}